@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.swatch-card  {
  width: 54px;
  height: 54px;
  padding: 4px;
}

.makeup-component-spin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.swatch-card > .ant-card-body {
  padding: 0px;
}

.component-container {
  display: block;
  margin: 0 auto;
}

.component-container > div:first-of-type {
  width: 100%;
  height: 100%;
}

.download-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tryon-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.close-tryon-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile-swatch-wrapper {
  width:100%;
  float:left;
  overflow-x:scroll;
  white-space:nowrap;
}

.mobile-swatch-wrapper > * {
  display: inline-block;
  vertical-align:top;
}

.makeup-action-bar {
  width: 100%;
  height: 40px;
  display: block;
  margin: 10px auto 0px auto;
}

.makeup-action-bar > button {
  width: 33.33%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
